/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	/* list-style: none; */
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
body nav a {
	text-decoration: none;
	color: gray;
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;
	width: 50px;
	height: 30px;
	padding: 30px;
	box-sizing: border-box;
	border: none;
	margin: 30px 0px;
	margin-top: 40px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
		display: flex;
		justify-content: space-around;
		padding-top: 50px;
		
}
header h1 {
	font-size: 80px;
	text-align: center;
}

button {
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;

	background-color: white;
	border: 1px solid black;
	padding: 5px 45px;
	text-align: center;
	
}
.top, .row {
	margin: 10px 150px;
}
/* .coltop {
	display: inline-block;
	width: 460px;
	padding: 50px 20px;
	box-sizing: border-box;
} */
.top, .bottom {
	display: flex;
	justify-content: space-around;
	padding-top: 50px;
	padding-bottom: 50px;
}
.middle-img {
	display: flex;
	width: 100%;
	padding: 0 100px;
	box-sizing: border-box;
}
.bottom {
	margin: 10px 120px;
}
/* .colbot {
	display: inline-block;
	width: 320px;
	padding: 50px 20px;
	box-sizing: border-box;
} */
.contact {
	padding-left: 120px;
	line-height: 1.2;
}
.contact-header{
	margin: 50px 0 20px 0;
}

p#phone {
	padding: 10px 0;
}
/* Services */
.services-nav {
	display: flex;
	padding-bottom: 20px;
}
.services-header-img {
	display: flex;
	width: 100%;
	padding: 20px 70px;
	box-sizing: border-box;
}
.first-paragraph {
	
	/* width: 1100px; */
	
}
.services-h1 {
	font-size: 30px;
	margin: 0px 70px 10px 70px;
}
.services-p1 {
	font-size: 20px;
	margin: 0px 70px 20px 70px;
}

.services-boxes {
	display: flex;
	width: 1200px;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 40px;
	align-items: center;
}
.facts {
	display: flex;
	justify-content: space-evenly;
	margin: 50px;
}
.box {
	width: 500px;
	border: 1px solid black;
	background-color: #f5f5f5;
	margin-bottom: 40px; 
	
}
p, h2 {
	font-size: 20px;
	padding: 5px;
	margin: 10px 10px 0 10px;
	line-height: 1.2;
}
.services-button {
	border-radius: 10px;
	margin: 10px;
}
.facts-paragraph {
	width: 500px;
}
li {
	font: inherit;
	font-size: 20px;
	line-height: 1.2px;
	margin: 15px;
}

footer{
	padding: 20px 0;
	text-align: center;
}
/* media query */
@media only screen and (max-width: 800px) {
    
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
        margin: auto;
    
    }
    body nav a {
        width: 30px;
        height: 30px;
        padding: 30px 10px;
        box-sizing: border-box;
        border: none;
        margin: 30px;
        
    }
    nav.menu {
        display: flex;
        flex-direction: row;
        padding-top: 40px;
        width : 800px;
    }
    img.title {
        display: none;
    }
    .coltop p {
        width: 350px;
    }
    .middle-img {
        display: flex;
        width: 100%;
        padding: 0 25px;
        box-sizing: border-box;
    }
    .colbot p {
        width: 230px;
    }
    .contact {
        padding-left: 25px;
        line-height: 1.2;
    }
    .contact-header{
        margin: 50px 0 20px 0;
    }
    
    p#phone {
        padding: 0px 0;
    }

  }

  @media only screen and (max-width: 500px) {
	.menu {
		
		overflow: hidden;
		color: white;
	}
	.menu a {
		float: left;
		display: block;
		width: 100%;
		color: black;
		border-bottom: 1px solid black;
		text-align: center;
		padding: 0px 20px;
		text-decoration: none;
		font-size: 20px;
		margin: 10px 0;
	}
	.menu a.menu1 {
		border-top: 1px solid black;
		padding-top: 20px;
		padding-bottom: 40px;
	}
	.top-logo {
		background-color: white;
	}
    .top, .bottom {
        display: flex;
        flex-wrap: wrap;
    }
    .coltop p {
        width: 400px;
    }
    .colbot p {
        width: 400px;
	}
	.contact h2, p {
		margin: 10px 0;
	}
  }
